<div class="container mt-4">
    <div class="row mb-3">
        <div class="col-2">
            <label>Total Views:</label>
        </div>
        <div class="col-4">
            <span id="totalViewsCounter"></span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label for="userInput">User</label>
        </div>
        <div class="col-4">
            <input type="text" id="userInput" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2">
            <label for="messageInput">Message</label>
        </div>
        <div class="col-4">
            <input type="text" id="messageInput" class="form-control" />
        </div>
        <div class="col-2">
            <button id="sendButton" class="btn btn-primary">Send Message</button>
        </div>
    </div>
    <hr />
    <ul id="messagesList"></ul>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/userCount.js"></script>
<script src="~/js/chat.js"></script>